<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the attendance_init() hook (in hooks/attendance.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="attendance-student_course-<%%VALUE(attendance_id)%%>" class="attendance-student_course"><%%SELECT%%><%%VALUE(student_course)%%><%%ENDSELECT%%></td>
		<td id="attendance-date-<%%VALUE(attendance_id)%%>" class="attendance-date"><%%SELECT%%><%%VALUE(date)%%><%%ENDSELECT%%></td>
		<td id="attendance-attended-<%%VALUE(attendance_id)%%>" class="attendance-attended"><%%SELECT%%><%%VALUE(attended)%%><%%ENDSELECT%%></td>
